p {
    color: white;
    font-family: arial;
}
h1 {
    text-align: left;
    color: white;
    margin-left: 90px;
    font-family: arial;
}
table {
    border: 1px solid black;
    margin-left: 0;
    margin-right: auto;
}
td {
    border: 2px solid black
}
button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100px;
    width: 100px;
    font-size: 80px;
    color: white;
    background-color: gray;
}

body {
    background-color: black
}

.hidden {
    display: none
}

.playAgain {
    font-size: 24px;
    height: 50px;
    width: fit-content;
}